.contact {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.c-left {
  flex: 1;
  /* background: green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.c-right {
  flex: 1;
  /* background: blue; */
}

.form-wrapper {
  padding: 0 5vw 0 10vw;
}

.fo-txt-item {
  color: var(--highlightColor);
  font-size: 60px;
  font-weight: 750;
}

.fo-desc {
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0;
}

.fo-desc span {
  line-height: 25px;
}

.fo-input-field,
.fo-textarea-field {
  padding: 10px 0;
}

button,
input,
textarea {
  color: var(--textColor);
  font-size: 14px;
  line-height: 20px;
  border: 2px solid transparent;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  outline: none;
}

input,
textarea {
  width: 100%;
  background-color: var(--inputBackground);
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  background-color: var(--inputFocusColor);
  border: 2px solid var(--inputBorderColor);
  transition: background-color 0.3s ease;
  transition: border 0.3s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--textColor);
  transition: color 0.3s ease;
}

button {
  background-color: var(--highlightColor);
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}

button:hover {
  opacity: 0.95;
}

.socials-wrapper {
  padding: 0 10vw 0 5vw;
  height: 80vh;
}

.socials {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: var(--inputBackground);
  border: 1px solid transparent;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
}

.row:hover {
  background-color: var(--inputFocusColor);
  border: 1px solid var(--inputBorderColor);
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
}

.fo-social-icon {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
}

.fo-social-value {
  flex: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 750;
}

.fo-social-col {
  flex: 1;
}
