.navbar {
  height: 10vh;
  /* padding: 0 5vw 0 5vw; */
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex: 1;
}

.menu .dark-mode-icon {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 16px 0;
}

.icon {
  padding: 7px;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}

.icon:hover {
  background: var(--iconHover);
  color: var(--highlightColor);
  transition: 0.3s ease-in-out;
}

.menu-bars {
  flex: 1;
  display: flex;
  padding: 16px 0;
  font-size: 30px;
  justify-content: start;
  transition: 0.5s;
}

.nav-menu-toggle .menu-bars {
  padding-left: 16px;
}

.logo {
  flex: 1;
  opacity: 0.9;
  height: 40px;
  display: flex;
  padding: 16px 0;
  font-size: 30px;
  justify-content: flex-start;
}

.navbar-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  background: var(--navmenuBackground);
  width: 200px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.5s;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 0.5s;
}

.nav-menu-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 0;
  list-style: none;
  height: 60px;
}

.nav-menu-text a {
  text-decoration: none;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  transition: 0.5s;
}

.nav-menu-text a:hover {
  /* background: #383C42; */
  /* background: rgba(252, 109, 109, 0.1); */
  color: var(--highlightColor);
  background: var(--navmenuHighlightColor);
}

.menu-bars:hover {
  color: var(--highlightColor);
}

.nav-menu-list {
  width: 100%;
}

.nav-menu-toggle {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

a span {
  margin-left: 16px;
}

ul {
  padding: 0;
  margin: 0;
}
