.i {
    display: flex;
    height: 80vh;
    width: 100%;
    /* padding: 0 5vw 0 5vw; */
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px 0;
}

.i-greet-wrapper {
    height: 170px;
    display: flex;
} 

.i-greet-wrapper .i-dyn-txt {
    height: 130px;
    line-height: 160px;
    overflow: hidden;
    position: absolute;
}

.i-dyn-txt .i-dyn-txt-item {
    color: #FC6D6D;
    font-size: 125px;
    font-weight: 750;
    position: relative;
    top: 0;
    animation: slide 20s steps(5) infinite;
}

@keyframes slide {
    100% {top: -800px;}
}

.i-dyn-txt .i-dyn-txt-item span {
    position: relative;
    width: 100%;
    line-height: 160px;
    letter-spacing: 4px;
}

.i-dyn-txt .i-dyn-txt-item span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 4s steps(12) infinite;
}

@keyframes typing {
    0% {left: 0;}
    40%, 60% { left: 100%;}
    100% {left: 0;}
}

.i-name {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.i-title-wrapper {
    display: flex;
}

.i-title-item {
    font-size: 30px;
    margin: 30px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
}