html {
  --pageBackground: black;
  --textColor: #bfc4cc;
  --titleColor: #FC6D6D;
  --highlightColor: #FC6D6D;
  --navmenuBackground: #101010;
  --navmenuHighlightColor: #303030;
  --blogDividerColor: #0c0c0c;
  --scrollBorderColor: #000;
  --scrollThumbColor: #bfc4cc;
  --galleryImgNumColor: #303030;
  --galleryBorderColor: #202020;
  --iconHover: #efefef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
