html {
  --pageBackground: black;
  --textColor: #bfc4cc;
  --titleColor: #fc6d6d;
  --highlightColor: #fc6d6d;
  --navmenuBackground: #101010;
  --navmenuHighlightColor: #303030;
  --blogDividerColor: #bfc4cc;
  --scrollBorderColor: #000;
  --scrollThumbColor: #bfc4cc;
  --galleryImgNumColor: #303030;
  --galleryBorderColor: #202020;
  --iconHover: #efefef;
  --inputBackground: #131313;
  --inputFocusColor: #202020;
  --inputBorderColor: #bfc4cc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
